.form-wrap {
    width: 79.65vw; /*1147px*/ 
    height: 23.13vw; /*333px*/
    background-image: url("image/form-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.form {
    margin: 0;
}
h2 {
    font-weight: 500;
    font-size: 2.50vw; /*36px*/
    line-height: 124%;
    text-align: center;
    color: #333333;

}
p {
    font-weight: 500;
    font-size: 1.39vw; /*20px*/
    line-height: 124%;
    text-align: center;
    color: #333333;
}
.modal__button {
    position: absolute;
    top: 1.39vw; /*20px*/
    right: 3.47vw; /*50px*/
    width: 100%; 
    height: auto;
    max-width: 1.39vw; /*20px*/
    font-size: 0;
    background: none;
    border: 0;
}